body {
  min-height: 2000px;
  margin-top: 80px;
}

nav {
  height: 80px
}

nav .container{
  margin-top: 15px;
}

.welcome {
	background-image: url("../images/welcome.jpg");
	height: 430px;
}

.welcome p {
	width: 320px;
	height: 150px;
	padding: 40px 20px 20px 20px;
	text-align: center;
	position: relative;
	top: 200px;
	left: 40px;
	background-color: #000;
	color: #fff;
	opacity: 0.9;
}

.sections-display{
	padding: 10px 80px;
}

.section-btn{
	border: 1px #666 solid;
}
