body {
  min-height: 2000px;
  margin-top: 80px;
}

nav {
  height: 90px;
}

nav .container{
  margin-top: 18px;
}

.navbar-brand{
	background-image: url("../images/logo.png");
	background-size: 60px 60px;
  background-repeat: no-repeat;
  padding-top: 5px;
}

#brand-name, #brand-subname{
	margin-left: 60px;
}

#brand-name{
	font-weight: bold;
	color: #6e7e8c;
	/*font-variant: small-caps;*/
}

#welcome {
	background-image: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
	height: 430px;
}

#welcome blockquote {
	width: 400px;
	height: 210px;
	padding: 50px 30px 30px 50px;
  border-left: 8px solid #fff;
	position: relative;
	top: 140px;
	left: 740px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.3em;
	background-color: #000;
	color: #fff;
	opacity: 0.7;
}

#welcome blockquote::before{
  content: open-quote; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #fff;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

#intro {
	width: 500px;
	text-align: center;
	margin: 30px auto;
}

.preview-section{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.1em;
}

.preview-section img{
	width: 100px;
	float: left;
	margin-top: 50px;
	margin-right: 20px;
}

#services-preivew, #directions-preivew{
	text-align: left;
	display: inline-block;
	height: 250px;
	width: 400px;
	padding: 10px 40px;
	color: #fff;
}

#services-preivew:hover, #directions-preivew:hover{
	text-decoration: none;
	cursor: pointer;
	background-color: #999;
}

#services-preivew{
	background-color: #5ac5c5;
	margin-right: 30px;
}

#directions-preivew{
	background-color: #f48220;
}