@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow');
@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/css?family=Handlee');

body {
  min-height: 2000px;
  margin-top: 80px;
}

nav {
  height: 90px;
}

nav .container{
  margin-top: 18px;
}

.navbar-brand{
	background-image: url("../images/logo.png");
	background-size: 60px 60px;
  background-repeat: no-repeat;
  padding-top: 5px;
}

#brand-name, #brand-subname{
	margin-left: 60px;
}

#brand-name{
	font-weight: bold;
	color: #6e7e8c;
	/*font-variant: small-caps;*/
}

#welcome {
	background-image: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
	height: 430px;
}

#welcome blockquote {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
	width: 400px;
	height: 210px;
	padding: 50px 30px 30px 50px;
  border-left: 8px solid #fff;
	position: relative;
	top: 140px;
	left: 60%;
	background-color: #000;
	color: #fff;
	opacity: 0.7;
}

#welcome blockquote::before{
  content: open-quote; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #fff;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

#intro {
  font-family: 'Convergence', sans-serif;
  letter-spacing: normal;
  font-size: 1.2em;
  padding: 30px 0;
  margin-bottom: 20px;
  color: #424242;
  background-color: #fafafa;
  border-bottom: 2px solid #dbd7d7;
}

#intro p {
  	width: 500px;
    margin: 0 auto;
    text-align: center;
}

.preview-section{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.1em;
  margin-top: 50px;
}

.preview-section h3{
  text-decoration: underline;
}

.preview-section img{
	width: 100px;
	float: left;
	margin-top: 50px;
	margin-right: 20px;
}

#services-preivew, #directions-preivew{
	text-align: left;
	display: inline-block;
	height: 220px;
	width: 380px;
	padding: 10px 40px;
	color: #fff;
}

#services-preivew:hover, #directions-preivew:hover{
	text-decoration: none;
	cursor: pointer;
	background-color: #607D8B;
}

#services-preivew{
	background-color: #5ac5c5;
	margin-right: 30px;
}

#directions-preivew{
	background-color: #f48220;
}

#home-main {
  width: 80%;
  margin: 20px auto;
  height: 400px;
}

#home-main h3{
  color: #fff;
  font-size: 1.3em;
  font-variant: small-caps;
  padding: 12px;
  margin-bottom: 0;
}

#home-main img{
  vertical-align: top;
  display: inline-block;
  width: 49.5%;
}

#services{
  font-family: 'Handlee', cursive;
  /*border: #5ac5c5 1px solid;*/
  vertical-align: top;
  margin-top: 90px;
  margin-bottom: 90px;
}

#service-times{
  display: inline-block;
  width: 49.5%;
}

#service-times h4{
  text-align: center;
  font-weight: normal;
  font-size: 2.1em;
  padding: 70px 0 20px 0;
}

#service-times ul{
  display: block;
  margin: auto;
  width: 300px;
  font-size: 1.5em;
}

#directions{
  /*border: #f48220 1px solid;*/
  vertical-align: top;
  margin-top: 90px;
  margin-bottom: 90px;
}

#services h3 {
  background-color: #5ac5c5;
}

#directions h3 {
  background-color: #f48220;
}

#directions p {
  width: 75%;
  margin: 40px auto;
  font-family: 'Handlee', cursive;
  font-size: 1.8em;
  text-align: center;
}
